body {
    background: #bd3f21;
    font-family: serif;
}
a {
    color: #bd3f21;
}
p {
    padding: 0;
    margin: 0;
}
.content {
    width: 80%;
    margin: 0 auto;
    background: #eee;
    padding: 1em;
    box-shadow: 0 0 0.8em #333;
}
.logo {
    width: 100%;
    text-align: center;
}
.logo img {
    margin: 0 auto;
    width: 30%;
}
.ediciones {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.edicion {
    max-width: 1040px;
    width: 22%;
    padding: 1em;
    text-align: center;
}
.edicion .year, a .edicion .year, .edicion .year a {
    text-decoration: none;
}
.logo-edicion {
    display: block;
}
.actual {
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 2em;
}
.actual img {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 0.5em;
}
img {
    width: 100%;
    max-width: 200px;
}
.message {
    background: rgba(255,255,255,0.9);
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0 1px 0.3em #a88c85;
    padding: 0.3em;
}
.footer {
    width: 100%;
}
.logo-culf-container {
    width: 10%;
    max-width: 10%;
    margin: 0 auto;
}
@media (max-width: 360px) {
    .ediciones {
        width: 100%;
        display: block;
        text-align: center;
    }
    .edicion {
        display: block;
    }
    .logo-culf-container, .logo-culf-container img {
        min-width: 100px;
    }
}